<header class='top-page-header'>
  <h2 class='top-header-title'>ECO SHARE</h2>

  <div class="btn-area">
    <div class="left-area">
      <div class="header-name">
       <% if user_signed_in? %>
        <%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %>
       <% end %>
      </div>
    </div>
    <div class="right-area">
      <ul class="btn-content">
        <% if user_signed_in? %>
          <li><%= link_to "投稿する", new_share_path, class: :top_btn %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :top_btn  %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: :top_btn %></li>
          <li><%= link_to '新規登録', new_user_registration_path , class: :top_btn %></li>
        <% end %>
      </ul>
    </div>
  </div>

</header>