<%= render "top/second-header" %>

<%# 投稿内容 %>
  <div class="share-show">
    <div class="share-card">
      <div class="share-img-content">
        <%= image_tag @share.image, class:"share-box-img" %>
      </div>
      <h2 class="title">
        <%= @share.title %>
      </h2>
      <div class="share-text">
        <%= @share.share %>
      </div>
      <div class="share-user">
        <%= link_to "#{@share.user.nickname}", user_path(@share.user_id), class: :share_user %>
      </div>

      <% if current_user %>
        <% if current_user.already_liked?(@share) %>
          <%# 現在ログイン中のユーザーが対象の投稿に対して行ったいいねのインスタンスを取得 %>
          <% like = Like.find_by(user_id: current_user.id, share_id: @share.id) %>
          <%= button_to 'いいねを取り消す', share_like_path(@share, like.id), method: :delete %>
        <% else %>
          <%= button_to 'いいね', share_likes_path(@share) %>
        <% end %>
        <p><%= @share.likes.count %></p>
      <% end %>

      <%# 投稿者とログインしているユーザーが同じであれば以下を表示する %>
        <% if user_signed_in? && current_user.id == @share.user_id %>
          <%= link_to '編集する', edit_share_path(@share.id), method: :get, class: "share-green-btn" %>
          <%= link_to '削除する', share_path(@share.id), method: :delete, class: "share-destroy" %>
        <% end %>
      <%# // 投稿者とログインしているユーザーが同じであれば上記を表示する %>
    </div>
  </div>
<%#/ 投稿内容%>
<%# コメント欄 %>
<%= render "layouts/flash" %>
<div class="comment-box">
  <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
  <% if user_signed_in? %>
    <%= form_with(model: [@share, @comment], local: true) do |f| %>
      <%= f.text_field :text %>
      <%= f.submit 'コメントする' %>
    <% end %>
    <%# コメントを一覧表示する %>
    <ul class="comment-lists">
      <% @share.comments.reverse_each do |comment| %>
        <li class="comments_list">
          <%= comment.text %>
          <%= link_to "(#{comment.user.nickname})", user_path(comment.user.id), class: :comment_user %>
        </li>
      <% end %>
    </ul>
    <%# // コメントを一覧表示する %>
  <% end %>
  <%# // ログインしているユーザーには上記のコメント投稿フォームを表示する %>
</div>
<%# // コメント欄 %>